[Desktop Entry]
Name=Sapphire Butler YAD
Comment=Sapphire Butler's yad powered GUI interface
Exec=butler prod/butleryad
Icon=/usr/share/pixmaps/butlerface.svg
Terminal=true
Type=Application
StartupNotify=true
Categories=GTK;Utility;Admin;Administration;admin;
Keywords=Sapphire;Butler;Task;Department;YAST;yad;
