[Desktop Entry]
Name=Sapphire Butler YAD
Comment=Sapphire Butler's yad powered GUI interface
Exec=butler prod/butleryad
Icon=/usr/share/pixmaps/sapphire-butler.svg
Terminal=true
Type=Application
StartupNotify=true
Categories=GTK;Utility;Admin;Administration;Settings;
Keywords=Butler;Task;Department;YAST;yad;
